.container.text-center
  .row.u-margin-top-lg
    %h1 Schedule
  .row.u-margin-bottom-lg
    .col-md-12
      %iframe{ src: 'https://gitlabcommitvirtual2020.sched.com/overview/type/Pub+Sec+Leading+Transformation' }
